@font-face {
  font-family: 'MontserratBold';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype')
}
@font-face {
  font-family: 'MontserratRegular';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype')
}