#keyboard-container{
  max-width: 100%;
  padding:20px 0;
}

a.key-container{
  float:left;
  text-align: center;
  text-transform: uppercase;
  color:@key-color;
  border: 1px solid @key-color;
  font-family: Helvetica, Arial, sans-serif;
  display:table;
  height:43px;
  font-family:@myriadpro-reg;
  text-decoration: none;
  &.round, &.square, &.rect{
    &:hover, &:active, &:focus{
      background-color: @gray-border;
    }
  }
  &.round{
    .border-radius(30px);
    width:43px;
    background-color: @white;

  }
  &.square{
    .border-radius(5px);
    width:43px;
    background-color: @char-bg;
  }
  &.rect{
    .border-radius(5px);
    width:67px;
    background-color: @char-bg;
  }

  .character{
    display:table-cell;
    vertical-align: middle;
    font-size: 18px;
    top: 1px;
    position: relative;
    .enter-btn{
      background-image: url(../img/enter-btn.png);
      background-repeat: no-repeat;
      height:17px;
      width:27px;
      margin: 0 auto;
      top: -1px;
      position: relative;
    }
  }
}

ul{
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  margin: 0 auto;
  text-align: center;

  &#row-1,
  &#row-2,
  &#row-3,
  &#row-4{
    height:30px;
  }
  li{
    display: inline-block;;
  }
}

