@montserrat-regular: 'MontserratRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
@montserrat-bold: 'MontserratBold', "Helvetica Neue", Helvetica, Arial, sans-serif;
@myriadpro-reg: 'MyriadProReg', "Helvetica Neue", Helvetica, Arial, sans-serif;

@gray-border:#dadada;
@gray-lang:#8f8f8f;
@light-gray:#eee;
@dark-gray:#e3e3e3;
@darker-gray:#363636;
@dark-blue:#2c3e50;
@white:#fff;
@black:#000;
@char-bg:#f5f6f7;
@key-color:#767777;
