mixin KeyboardKey(key)
  li
    a.key-container(class="#{key.key_shape}", href="#", data-char-id="#{key.key_char}")
      -if (key.key_char === "backspace"){
        .character
          .backspace-btn
      -} else {
        .character!= key.key_char
      -}