
#title-container
  h1 Search Widget
//- keyboard and search results

#left-container
  //- input field
  #search-container
    input(type="search", name="search", tabindex="1", id="search", value="Search...")
    #clear-search

  //- keybaord
  include ./keyboard

//- scrollable search results
#right-container
  #results-container
    ul#results
      //- populated dynamically with country data
